<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>51855D91-AE2A-492D-AE98-BC3F079AECBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C279A140-EBC4-4ABC-A764-3763CD572BAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>023D3616-C7B0-4F82-A108-9FDF0AF5D7CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>55C52E8E-D34D-4CE7-9DF3-BA3AD43C1079</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51855D91-AE2A-492D-AE98-BC3F079AECBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>turusuke</string>
	<key>description</key>
	<string>Search kaomoji</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>kaomoji</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>kao</string>
				<key>script</key>
				<string>$query = "{query}";
include("index.php");</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>55C52E8E-D34D-4CE7-9DF3-BA3AD43C1079</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C279A140-EBC4-4ABC-A764-3763CD572BAA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>echo "{query}";</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>51855D91-AE2A-492D-AE98-BC3F079AECBB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>がコピーされました</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>023D3616-C7B0-4F82-A108-9FDF0AF5D7CD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>023D3616-C7B0-4F82-A108-9FDF0AF5D7CD</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>51855D91-AE2A-492D-AE98-BC3F079AECBB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>55C52E8E-D34D-4CE7-9DF3-BA3AD43C1079</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C279A140-EBC4-4ABC-A764-3763CD572BAA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
